<div>
  <%= form_with(model: bookmark, local: true) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot %>
  </div>

  <div class="field" id='add_tags'>
    <%= form.label :tags %><br><br>
    <% Tag.all.order(:tag).each do |tag| %>
      <%if bookmark.tags.include?(tag) %>
        <span class='main-tag selected'>
          <%= check_box_tag("[tag][]", tag.id, checked = true) %>
          <%= form.label(:tag, tag.tag.capitalize) %>
        </span>
      <% else %>
        <span class='main-tag'>
          <%= check_box_tag("[tag][]", tag.id) %>
          <%= form.label(:tag, tag.tag.capitalize) %>
        </span>
      <% end %>
  <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>

  <%= render 'tags/form', tag: @tag %>

</div>

<script>

var addNewListener = (el) => {
  el.addEventListener('click', function(){
    inputEl = this.querySelector('input');
    this.classList.toggle('selected');
    inputEl.checked = !inputEl.checked
  });
}

// document.getElementById('newButt').addEventListener('click', function(){
//   var tagField = document.getElementById('newTag');
//   tagValue = tagField.value.trim();
//   createTag(tagValue);
//   tagField.value = "";
// })

// var createTag = (data) => {
//   var sendData =  {"tag": {"tag":data}};
//   fetch('https://hidden-bastion-43962.herokuapp.com/tags.json', {
//   //fetch('http://kerri-virtualbo:3000/tags.json', {
//     method: 'post',
//     body: JSON.stringify(sendData),
//     headers: {
//       'Content-Type': 'application/json',
//       'X-CSRF-Token': Rails.csrfToken()
//     },
//     credentials: 'include',
//   }).then(function(response) {
//     return response.json();
//   }).then(function(data) {
//     console.log(data);
//     getLastTag();
//   });
// }

// var getLastTag = () => {
//   Rails.ajax({
//     //url: "http://kerri-virtualbo:3000/tags.json",
//     url: "https://hidden-bastion-43962.herokuapp.com/tags.json",
//     type: "GET",
//     success: function(data) {
//       var newTag = data[data.length -1];
//       console.log(newTag);
//       updateBookmark(newTag);
//     }
//   });
// }

// var updateBookmark = (data) => {
//   var url = this.location.href.slice(0, -5) + ".json"
//   console.log(url);
//   var sendData =  {"newTag":{"id":data.id, "tag":data.tag}};
//   fetch(url, {
//     method: 'put',
//     body: JSON.stringify(sendData),
//     headers: {
//       'Content-Type': 'application/json',
//       'X-CSRF-Token': Rails.csrfToken()
//     },
//     credentials: 'include',
//   }).then(function(response) {
//     return response.json();
//   }).then(function(data) {
//     console.log(data);
//     location.reload();
//   });
// }

window.addEventListener('DOMContentLoaded', function() {
  var tags = document.querySelectorAll('.main-tag')
  for(let i = 0; i < tags.length; i++) {
    addNewListener( tags[i]);
  };
})

</script>
