 
    <% @bookmarks.each do |bookmark| %>
    <div class='bookmark'>
      <% if bookmark.screenshot.attached? %>
       <%= link_to bookmark.url do %>
          <%= image_tag bookmark.thumbnail(bookmark.screenshot), :class =>'screenshot'%>
        <% end %>
      <% end %>
      <div class='bookmark-text'>
        <%= link_to bookmark.url do %>
          <h4><%= bookmark.title %></h4>
        <% end %>
        <% bookmark.tags.each do |tag| %>
          <span class='main-tag'><%= link_to(tag.tag, "#{bookmarks_path}?[tag][]=#{tag.id}") %></span>
        <% end %>
        <br><br>
        <%= link_to raw('<i class="far fa-edit" id="edit"></i>'), edit_bookmark_path(bookmark) %></span>
        <%= link_to  raw('<i class="far fa-trash-alt" id="delete"></i>'), bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>        
    </div>
  <% end %>
