<div id='index-head'>
  <div id='title-search'>
  <%= form_tag(bookmarks_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], placeholder: 'Search by title...') %>
    <%= button_tag "search", :name => nil %>
  <% end %>
  </div>
    <h2>Welcome, <%= current_user.name %></h2>
</div>

<img src="/assets/right-arrow.png" id='open-button'>
<div id='filters' style="display: none">
  <img src="/assets/left-arrow.png" id='close-button'> 
  <h4 id='tag-title'>Select tags:</h4>
  <%= form_tag(tags_path, method: :get) do %>
    <ul>
      <% @tags.each do |tag| %>        
        <li class='tag'><%= check_box_tag "[tag][]", tag.id %>
        <%= label_tag :tag, tag.tag  %></li>        
      <% end %>      
    </ul>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id='bookmarks-list'>
  <% @bookmarks.each do |bookmark| %>
    <div class='bookmark'>
      <% if bookmark.screenshot.attached? %>
       <%= link_to bookmark.url do %>
          <%= image_tag bookmark.screenshot, :class =>'screenshot'%>
        <% end %>
      <% end %>
      <div class='bookmark-text'>
        <h4><%= bookmark.title %></h4>
        <% bookmark.tags.each do |tag| %>
          <span><%= tag.tag %></span>
        <% end %>
        <br><br>
        <span id='edit'><%= link_to image_tag("/assets/edit2.png"), edit_bookmark_path(bookmark) %></span>
        <span id='delete'><%= link_to image_tag("/assets/trash.png"), bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></span>      
      </div>        
    </div>
  <% end %>
</div>

<script type="text/javascript">
  
document.getElementById('open-button').addEventListener('click', function(){
  openNav();
})
document.getElementById('close-button').addEventListener('click', function(){
  closeNav();
})

function openNav(){
  document.getElementById("bookmarks-list").style.marginLeft = "16vw";
  document.getElementById("filters").style.width = "16vw";
  document.getElementById("filters").style.display = "inline";
  document.getElementById("open-button").style.display = 'none';
}

function closeNav(){
  document.getElementById("bookmarks-list").style.marginLeft = "0%";
  document.getElementById("filters").style.display = "none";
  document.getElementById("open-button").style.display = "inline";
}

</script>
