<p id="notice"><%= notice %></p>

<h1> <%= current_user.name %>'s Bookmarks</h1>
<h1><%= current_user.id %></h1>
<div id='bookmarks-list'>
    <% @bookmarks.each do |bookmark| %>
      <div class='bookmark'>
        <% if bookmark.screenshot.attached? %>
          <td><%= link_to href: bookmark.url do %>
            <%= image_tag bookmark.screenshot, alt: 'a really cool site'%>
          <% end %></td>
        <% end %>

         <p><%= link_to 'Show', bookmark %></p>
        <p><%= link_to 'Edit', edit_bookmark_path(bookmark) %></p>
        <p><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
 
 
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
 
<% end %>

<%= render(
  partial: 'bookmarks/list',
  locals: { bookmarks: @bookmarks }
) %>

<script type="text/javascript">
  <% js = escape_javascript(
  render(partial: 'bookmarks/list', locals: { bookmarks: @bookmarks })
) %>
$("#filterrific_results").html("<%= js %>");
</script>


