<div id='index-head'>
  <div id='logout'>
    <p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
  </div>
  <div id='title-search'>
  <%= form_tag(bookmarks_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], placeholder: 'Search by title...') %>
    <%= button_tag "search", :name => nil %>
  <% end %>
  </div>
  <div id='welcome'>
    <h2>Welcome, <%= current_user.name %></h2>
  </div>
  <div id='tag-search'>
    <% if params[:tag] %>
    <h3>Tags:</h3>
      <% (params[:tag]).each do |tag_id| %>
        <h3><%= Tag.find(tag_id).tag %></h3>
      <% end %>
    <% elsif params[:search] %>
      <h3>Title contains:</h3><h3><%= params[:search] %></h3>
      <% if @bookmarks.count == 0 %>
        <div id='emoticon'>
          <%= render 'zeroResults' %>
        </div>
      <% end %>
    <% end %>
  </div>
  <i class="fas fa-caret-right fa-3x" id='open-button'></i>
  <i class="fas fa-caret-left fa-3x" id='close-button' style="display: none"></i>
</div>


<aside id='filters' style="display: none">
  
  <h3>Order by:</h3>
  <%= form_tag(bookmarks_path, method: :get) do %>
    <div class='tag'>
      <%= radio_button_tag(:created_at, "newest") %>
      <%= label_tag(:created_at, "Newest first") %>
    </div>
    <div class='tag'>
      <%= radio_button_tag(:created_at, "oldest") %>
      <%= label_tag(:created_at, "Oldest first") %>
    </div>
    <%= submit_tag "Apply" %>
  <% end %>

  <h3>Select tags:</h3>
  <%= form_tag(bookmarks_path, method: :get) do %>
    <ul>
      <% @tags.each do |tag| %>        
        <li class='tag'>
          <%= check_box_tag "[tag][]", tag.id %>
          <%= label_tag :tag, tag.tag.capitalize %>
        </li>
      <% end %>      
    </ul>
    <%= submit_tag "Search", id: "tag-search" %>
  <% end %>
</aside>

<section id='bookmarks-list'>
  <% if current_user.sign_in_count == 1 && current_user.bookmarks.count == 0 %>
    <% welcome = current_user.bookmarks.create!(url: ' https://en.wikipedia.org/wiki/Memoria', title: 'Memoria | Wikipedia') %>
    <% welcome.screenshot.attach(io: File.open('app/assets/images/hall.jfif'), filename: 'hall.jfif') %>

    <% extension = current_user.bookmarks.create!(url: 'http://kerri-virtualbo:3000/', title: 'Follow this link to download the extension') %>
    <% extension.screenshot.attach(io: File.open('app/assets/images/bookmarks.jfif'), filename: 'bookmarks.jfif') %>
    <% welcome = current_user.bookmarks.create!(url: 'http://kerri-virtualbo:3000/', title: 'Welcome') %>
    <% welcome.screenshot.attach(io: File.open('app/assets/images/salve.jfif'), filename: 'salve.jfif') %>

    <%= render 'list' %>
  <% else %>
    <%= render 'list' %>
  <% end %>
</section>

<script type="text/javascript">
  
document.getElementById('open-button').addEventListener('click', function(){
  openNav();
})
document.getElementById('close-button').addEventListener('click', function(){
  closeNav();
})

function openNav(){
  //document.getElementById("bookmarks-list").style.marginLeft = "18vw";
  document.getElementById("filters").style.width = "16vw";
  document.getElementById("filters").style.display = "inline-block";
  document.getElementById("open-button").style.display = 'none';
  document.getElementById("close-button").style.display = 'inline-block';
}

function closeNav(){
  document.getElementById("bookmarks-list").style.marginLeft = "0%";
  document.getElementById("filters").style.display = "none";
  document.getElementById("open-button").style.display = "inline-block";
  document.getElementById("close-button").style.display = 'none';
}

</script>
