<!DOCTYPE html>
<html>
  <head>
    <title>BookmarkApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Quicksand" rel="stylesheet">
  </head>
  
  <% if !signed_in? %>
    <body background="/assets/memories.jpg">
      <div class='login-container'>
        <%= yield %>
      </div>
    </body>
  </html>
   
  <% else %>
    <body>
      <%= render 'layouts/header' %>
      <%= yield %>
    </body>
  </html>
<% end %>

