<!DOCTYPE html>
<html>
  <head>
    <title>BookmarkApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  
  <% if !signed_in? %>
    <body background="/assets/memories.jpg">
      <div class='login-container'>
        <%= yield %>
      </div>
    </body>
  </html>
   
  <% else %>
  <p id="notice"><%= notice %></p>
    <body>
      <%= yield %>
    </body>
  </html>
<% end %>

